
<article>


	<div class="single-blog-container">
		<main>

			<div class="blog-container">
				<div class="blog">
					<div class="blog-img">
						{{  content.field_image}}
						<div class="byadmin">
							<span>
								<span class="icon profile-male"></span>
								by
								{{ author_name }}
							</span>
						</div>
					</div>

					<div class="blog-content">
						<h2>{{ label }}</h2>
						<div class="blog-tags">
							<span class="text-dul-1">
								0 Comments</span>
							<span class="text-dul-1">
								{{ content.field_tags}}</span>
							<span class="text-dul-1">
								{{ date }}
							</span>
						</div>


						{{ content.body }}


					</div>

				</div>
			</div>


			<div class="social py-5">
				<a href="">
					<i class="fa-brands fa-twitter"></i>
				</a>
				<a href="">
					<i class="fa-brands fa-facebook"></i>
				</a>
				<a href="">
					<i class="fa-brands fa-google-plus"></i>
				</a>
				<a href="">
					<i class="fa-brands fa-linkedin"></i>
				</a>
				<a href="">
					<i class="fa-brands fa-dribbble"></i>
				</a>
			</div>

			<div class="form px-3">


				<div class=" comment-form ">

					{{ content.comment }}


				</div>


			</div>

		</main>
	</div>
</article>
